# compiled output
/backend/dist
/backend/node_modules
/backend/build

# Logs
/backend/logs
/backend/*.log
/backend/npm-debug.log*
/backend/pnpm-debug.log*
/backend/yarn-debug.log*
/backend/lerna-debug.log*

# OS
/backend/.DS_Store

# Tests
/backend/coverage
/backend/.nyc_output

# IDEs and editors
/backend/.idea
/backend/.project
/backend/.classpath
/backend/.c9/
/backend/*.launch
/backend/.settings/
/backend/*.sublime-workspace

# IDE - VSCode
/backend/.vscode/*
/backend/!.vscode/settings.json
/backend/!.vscode/tasks.json
/backend/!.vscode/launch.json
/backend/!.vscode/extensions.json

# dotenv environment variable files
/backend/.env
/backend/.env.development.local
/backend/.env.test.local
/backend/.env.production.local
/backend/.env.local

# temp directory
/backend/.temp
/backend/.tmp

# Runtime data
/backend/pids
/backend/*.pid
/backend/*.seed
/backend/*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
/backend/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json



# Dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# Build output
/frontend/dist
/frontend/build
/frontend/out

# Cache
/frontend/.cache
/frontend/.temp
/frontend/.vite
/frontend/*.tsbuildinfo
/frontend/.eslintcache

# Environment
/frontend/.env
/frontend/.env.local
/frontend/env.*.local

# Logs
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*

# Editor/IDE
/frontend/.idea
/frontend/.vscode
/frontend/*.suo
/frontend/*.ntvs*
/frontend/*.njsproj
/frontend/*.sln
/frontend/*.sw?
~*

# OS
/frontend/.DS_Store
/frontend/Thumbs.db

# Testing
/frontend/coverage
/frontend/.nyc_output

# Optional
/frontend/.serverless/
/frontend/.fusebox/
/frontend//dll
/frontend/*.local

# Debug
/frontend/debug.log
